name: Update Screenshot

on:
  workflow_dispatch:
    inputs:
      remote_debug:
        description: >-
          Starts an SSH session to debug the runner. For advanced troubleshooting only.
        type: boolean
        required: false
        default: false
  push:
    branches:
      - master
  schedule:
    - cron: "6,26,46 6-8 * * *"

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  BUCKET_NAME: ${{ secrets.BUCKET_NAME }}

jobs:
  download:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install ImageMagick and deps
        run: |
          sudo apt install imagemagick
          cd app
          pnpm i

      - name: Start debug session (when enabled)
        if: ${{ inputs.remote_debug }}
        uses: lhotari/action-upterm@v1

      - name: Update
        run: |
          ./cli.sh update

      - name: Build index
        run: |
          ./cli.sh build-index

      - name: Build archive
        run: |
          ./cli.sh build-archive

      - name: Upload to s3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
        run: |
          ./cli.sh upload --bucket $BUCKET_NAME

      - uses: EndBug/add-and-commit@v9
        with:
          message: "update: auto update bing wallpaper"
          default_author: github_actions
